<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP Services</title>
</head>
<body>
<form method="post" action="/post">
    <p><h3><label> String: <input name="string"></label></h3></p>
    <fieldset>
        <legend><h3> Services </h3></legend>
        <p><label> <input type="checkbox" name="services" value="plural_singular"> Singular & Plural nouns </label></p>
        <p><label> <input type="checkbox" name="services" value="pos"> Part of Speech tags </label></p>
        <p><label> <input type="checkbox" name="services" value="sentiment"> Sentiment Analyzer </label></p>
        <p><label> <input type="checkbox" name="services" value="subjectivity"> Subjectivity </label></p>
        <p><label> <input type="checkbox" name="services" value="frequency"> Words Frequency </label></p>
    </fieldset>
    <p><button> Submit </button></p>
</form>
</body>
</html>